*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #D5E1EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Outfit, sans-serif;
}

main{
  margin-bottom: 15px;
}
.QR-container{
  background-color: #FFFFFF;
  height: 499px;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.047);
  padding: 16px 16px 40px 16px;
}
.QR-image{
  display: block;
  border-radius: 10px;
}
.text{
  text-align: center;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.text-header{
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  color: #1F314F;
  margin-bottom: 16px;
}
.text-description{
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #68778D;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
